h1 {
  font-family: mostra-nuova, sans-serif;
  font-weight: bold;
  padding: 50px 0 20px 0;
  text-align: center;
}

.app {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  align-items: center;
  left: 10%;
  right: 0;
  top: 35%; /* Adjust this value to move the positioned div up and down */
  width: 70%;
  font-family: mostra-nuova, sans-serif;
  font-weight: 400; /* bold would be 700 or bold */
  font-size: 16pt;
}

.button {
  border: 1px solid #c1aec2;
  border-radius: 5px;
  background: #c1aec2;
}

.container {
  display: inline-block;
  position: relative;
  z-index: 3;
}

.icon {
  font-size: 30pt;
  color: yellow;
}

.image {
  opacity: 0.8;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: grey;
  font-family: mostra-nuova, sans-serif;
  font-size: 15pt;
}

.footer a {
  color: grey;
  text-decoration: none;
}

.footer a:hover {
  color: black;
}

#convert {
  text-align: left;
  line-height: 0.8;
  padding: 5px;
  font-size: 14pt;
  border: 1px solid #feb38c;
  border-radius: 5px;
  background: #feb38c;
}

#convert a {
  color: black;
  text-decoration: none;
}

.info,
#date {
  text-align: left;
  line-height: 0.8;
  font-size: 18pt;
  font-weight: normal;
  line-height: 0.8;
}

#city,
#temp {
  font-size: 30pt;
  font-weight: bold;
}
